<!-- quiz-orm/templates/index.html -->
{% extends "szkielet.html" %}
{% set active_page = "index" %}
{% block tytul %}Formularz testowy{% endblock%}
{% block h1 %}Formularz{% endblock%}
{% block tresc %}
  <p>Podaj imie ,nazwisko i wiek :</p>
<form method="POST">
  <label>imie:</label>
  <input type="text" name="imie">
  <br>
  <label>nazwisko</label>
  <input type="text" name="nazwisko">
  <br>
  <label>wiek:</label>
  <input type="text" name="wiek">

  <input type="submit" value="Zapisz">
</form>
<ul>
{% for a in dane %}
  <li>{{a}}</li>
{% endfor %}
</ul>
{% endblock %}
